@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
}

.home-stats-titles{
  @apply text-green-600 text-2xl text-center m-2 uppercase font-semibold;
}
.adverts-pending{
  @apply text-black text-2xl text-center m-2 font-semibold;
}

p{
  @apply text-green-600 text-3xl;
}

input, textarea, select {
  @apply py-2 w-full bg-zinc-100/40 border border-gray-200 ;
}

table.basic{
  @apply w-full rounded-sm shadow-md my-3;
}
table.basic thead tr td,
table.basic thead tr th
{
  @apply text-sm text-gray-800 bg-green-100 uppercase border border-gray-200 border-gray-200 px-2 py-2;
}
table.basic tr td{
  @apply py-1 px-1 border border-gray-200;
}
table.basic a{
  @apply py-1 rounded-sm inline-flex items-center gap-1 text-sm;
}
.nota-imp{
  @apply text-gray-400 text-xs;
}
.range_input{
  accent-color: green;
}
.board-grid {
  @apply grid  grid-cols-1 md:grid-cols-3 gap-4;
}
.board-card{
  @apply bg-white shadow-md p-4 text-green-600 text-center;
}
.board-card-alert{
  @apply bg-red-100 shadow-md p-1 text-black text-center;
}
.board-card-link{
  @apply  shadow-md p-4 text-green-600 text-center cursor-pointer hover:bg-green-200;
}
.board-title{
  @apply uppercase text-gray-500 font-bold text-xs text-center;
}
.board-title-alert{
  @apply uppercase text-gray-500 font-bold text-base text-center;
}
.board-title-std{
  @apply uppercase text-gray-500 font-bold text-xl text-center;
}
.board-number{
  @apply text-4xl text-center  font-bold my-1;
}
.board-number-alert{
  @apply text-4xl text-center text-red-600  font-bold my-1;
}
.board-desc{
  @apply text-xs text-gray-400;
}
.square-client{
  @apply bg-white shadow-md p-4 text-green-700 text-center;
}

/* ESTILOS TRADICIONALES */
.swym-delete-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(180, 44, 44, 0.636);
  color: white;
  font-size: 12px;
  font-weight: 500;
  width: 1.3px;
  height: 1.5em;
  min-width: 1.3em;
  right: -35px;
  bottom: -10px;
  z-index: 0;
  cursor: pointer;
}

.rbc-event{
  background-color:rgba(180, 44, 44, 0.636) !important ;

}

.checkboxes {
  background-color: white;
  border: 1px #dadada solid;
  position: absolute;
  z-index: 3;
}

.checkboxes .label {
  display: block;
}

.checkboxes >label:hover {
  background-color: #1e90ff;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
